# Razorpay Credentials
EXPO_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TJCVVsuabxQUKO
RAZORPAY_KEY_SECRET=your_razorpay_secret_here

# LiveKit Video URL
EXPO_PUBLIC_LIVEKIT_URL=wss://burnx-gym.livekit.cloud

# Backend & API Gateway
EXPO_PUBLIC_API_URL=http://localhost:3000

# Groq LLM AI Key
EXPO_PUBLIC_GROQ_API_KEY=your_groq_api_key_here

# Supabase Auth & Storage
EXPO_PUBLIC_SUPABASE_URL=https://your-supabase-id.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Google OAuth Client ID
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
